<%= form_with model: blog_post do |form|%>
  <% if form.object.errors.any?%>
  <div>
    <% form.object.errors.full_messages.each do |message|%>
    <div><%= message%></div>
    <% end%>
  </div>
  <% end%>
  <div>
    <%= form.label :title%>
    <%= form.text_field :title%>
  </div>

  <div>
    <%= form.label :cover_image%>
    <%if blog_post.cover_image.attached?%>
      <%#rails7 has hotwire which has turbo and using dom_id will let you remove cover image, this is better because other changes done will still remain after removing the image%>
      <div id="<%= dom_id(blog_post, :cover_image)%>">
        <%= image_tag blog_post.cover_image, class:"w-1/3 my-2" %>
        <%= link_to "Remove cover image", blog_post_cover_image_path(blog_post), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </div>
    <%end%>
    <%= form.file_field :cover_image%>
  </div>

  <div>
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>

  <div>
    <%= form.label :published_at%>
    <%= form.datetime_select :published_at, include_blank: true%>
  </div>

  <%= form.submit "Submit", class: "my-5 p-2 rounded bg-gray-200 hover:bg-gray-300"%>
<%end%>