<html>
  <head>
    <style>
      .title {
        font-size: 3rem;
        font-style: bolder;
      }
      .new {
        font-size: 1.5rem;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="title">Blog App</div>
      <div class="new"><%= link_to "Create New Blog", new_blog_post_path if user_signed_in? %></div>
    </div>
    <div>
      <% @blog_posts.each do |blog| %>
        <!-- before what was done is
        (1) "/blog_posts/#{blog.id}
        (2) blog_post_path(blog.id)
        (3) blog_post_path(blog)
        (4) blog
        You can do this because Ruby maintains model_name for each models
        so it just uses it to check if that name exists and tries to call that path
        so it's important to give correct names for path-->
        <% if blog.draft? %>
          <div class="p-2 rounded bg-gray-100 test-gray-900">Draft</div>
        <% elsif blog.scheduled? %>
          <div class="p-2 rounded bg-blue-100 test-gray-900">Scheduled</div>
        <% else %>
          <% if user_signed_in? %>
            <div class="p-2 rounded bg-yellow-100 test-gray-900">Published</div>
          <% end %>
        <% end %>
        <div><%= image_tag blog.cover_image, class:"w-2/3 center" if blog.cover_image.attached? %></div>
        <h2 class="my-2"><%= link_to blog.title, blog_post_path(blog, page: @pagy.page) %></h2>
        <p><%= truncate(blog.content.to_plain_text, length: 100) %></p>
      <% end %>
    </div>
    <div class="my-10">
      <%= pagy_nav(@pagy).html_safe if @pagy.pages > 1 %>
    </div>
  </body>
</html>