<%= render partial: "home"%>
<div>
  <h1><%= @blog_post.title %></h1>
  <%= @blog_post.body %>
  <% unless @blog_post.published_at.nil?%>
    <p><b>Published on: </b><%= @blog_post.published_at.strftime("%B %d, %Y %I:%M %p")%></p>
  <% end %>
</div>
<div>
  <h3><%= link_to "Edit", edit_blog_post_path(@blog_post) if user_signed_in?%></h3>
</div>